<script setup lang="ts">
import MainViewVue from "./views/MainView.vue";
import LogniViewVue from "./views/LogniView.vue";
import { onMounted } from "vue";
import { useLoginStore } from "@/stores/login";
const loginStore = useLoginStore();
onMounted(() => {
  console.log("OnMout");
  loginStore.Dataload();
});
</script>

<template>
  <LogniViewVue v-if="!loginStore.isLogin" />
  <MainViewVue
    v-if="loginStore.isLogin"
    @logout="loginStore.logout"
    :LoginName="loginStore.LoginName"
  />
</template>

<style scoped></style>
